# __Introduction to finpy-tse Python Module <font color='orange'>(1.1.1)</font>__
### __<font color='green'>Free Python Module to Access Tehran Stock Exchange Historical and Real-Time Data</font>__
## __<font color='green'>ALI RAHIMI</font>__

#### __Motivation:__ 

Data is new oil but extracting the data, is not as easy as it seems, like extracting the oil! When I started learning algorithmic trading and quantitative portfolio management approaches and models, my main barrier in going forward and examining these ideas was hardship in accessing the data. In the absence of easily accessible APIs, there were a lot of alternative ways to access the data manually or using Python, some of them was even premium but still imperfect, not enough for my requirements and not satisfactory. I had the tools for exploring the data but not the data itself! This was my main motivation for developing this module, maybe I would be able to help in removing this barrier from new learners's path, so that, they could focus on the data analysis and machine learning tools and do not worry about the data. __So, helping other people who started this way recently, is may gain from making this module, publicly available for free.__

#### __Scope:__  
    
The scope of this module is just __getting the data into your python enviroment__. Using this module, you will have most of the data, you may need for your research or development purposes. The finpy-tse module will provide you the __historical and real-time data of the Tehran Stock Exchange__ and I am pretty sure that you can leverage module-provided data to build any other specific form of price-oriented data. In this notebook, we will explain the module functions and you will learn how to use them to access the data. 
    
#### __Co-Developers:__

Some people helped me in developing this module and I would like to thank them, especially __Mr. Rasool Gafoori__ who _helped a lot in making module more faster and flexible_. I also would like to thank __Ms. M. Nourahmadi__ for her _comments from the user perspective and contribution for preparing module Farsi handbook_.


#### __Contact Info.:__

If you have comments or other requirements that is not covered in this version of finpy-tse, you can send me email or join our __Telegram Channel (@FinPy)__ and send your comments to admins. We will try to cover your requirements in the next verions of the module. I also invite you to join our Telegram Channel to know about module updates and Farsi tutorials.

Email: a.rahimi.aut@gmail.com

In [1]:
import finpy_tse as fpy

---------------------------------------------
## __1. Reading Single Stock Data__

Most people do their analysis based on stock daily data. In this section, we will introduce finpy-tse module functions, you can use, to access daily history of a single stock.

### __1.1. Get_Price_History() Function__
__<font color='green'>Access to Stock Daily Historical Price Data (= سابقه قیمت سهم)</font>__

This function reads a given stock price history in a given period of time starting from start_date till end_date (both are included, if they are trading days). The output is a Pandas' dataframe with some columns. The function inputs are:

| __Parameter__ | __Format__ | __Description (EN)__ | __Description (FA)__ |
| :- | :- | :- | -: |
| __stock__ | String (in Farsi) | Ticker or name of firm in farsi | نماد یا نام کامل شرکت (سهم) مورد نظر به فارسی|
| __start_date__ | YYYY-MM-DD Jalali Date | returned data start date (included, if it is a trading day) | تاریخ شمسی شروع سابقه قیمت برگردانده شده توسط تابع |
| __end_date__ | YYYY-MM-DD Jalali Date | returned data end date (included, if it is a trading day) |تاریخ شمسی پایان سابقه قیمت برگردانده شده توسط تابع |
| __ignore_date__ | True/Flase | if True, the fucntion does not consider start and end date and gets all available history | توجه یا عدم توجه به تاریخ شروع و پایان در سابقه قیمت برگردانده شده توسط تابع |
| __adjust_price__ | True/Flase | if True, the fucntion returns adjusted Open, High, Low, Close and Final prices in new columns  |تعدیل یا عدم تعدیل قیمت برای افزایش سرمایه و پرداخت سود نقدی |
| __show_weekday__ | True/Flase | if True, the fucntion shows weekdays in a separate column |نمایش یا عدم نمایش نام روزهای هفته در خروجی تابع در یک ستون مجزا |
| __double_date__ | True/Flase | if True, fucntion shows international date in a separate column, in addition to Jalali date |نمایش یا عدم نمایش تاریخ میلادی در یک ستون مجزا علاوه بر تاریخ شمسی |

Returned dataframe's columns are:

| __Column Name__ | __Description (EN)__ | __Description (FA)__ | 
| :- | :- | -: | 
| __J-Date__ | Jalali date | تاریخ شمسی |
| __Date__ | International date | تاریخ میلادی |
| __Weekday__ | Name of weekdays | نام روز هفته |
| __Open__ | Day Open Price | قیمت باز شدن روز |
| __High__ | Day High Price | بالاترین قیمت روز |
| __Low__ | Day Low Price | پایین ترین قیمت روز |
| __Close__ | Day Close Price | آخرین قیمت روز |
| __Final__ | Day Final Price | قیمت پایانی روز |
| __Volume__ | Day Traded Volume| حجم معامله شده در آن روز |
| __Value__ | Day Traded Value (Rial) |ارزش معاملات سهم در آن روز (ریال) |
| __No__ | Number of Trades in that Day | تعداد معاملات انجام شده در آن روز |
| __Ticker__ | Ticker of the firm | نماد فارسی شرکت |
| __Name__ | Farsi Full Name of the firm | نام کامل فارسی شرکت |
| __Market <font color='orange'> (1.1.0) </font>__ | Market Name | بازاری که سهم در هر تاریخ در ان معامله شده است - بازار برخی سهم ها در گذر زمان تغییر میکند |
| __Adj Open__ | Adjusted Day Open Price |  Open قیمت تعدیل شده  |
| __Adj High__ | Adjusted Day High Price | High قیمت تعدیل شده |
| __Adj Low__ | Adjusted Day Low Price | Low قیمت تعدیل شده |
| __Adj Close__ | Adjusted Day Close Price | Close قیمت تعدیل شده |
| __Adj Final__ | Adjusted Day Final Price | Final قیمت تعدیل شده |

In [2]:
df_price_history = fpy.Get_Price_History(stock = 'پترول', start_date = '1398-12-15', end_date='1401-02-21',\
                                         ignore_date = True, adjust_price = True, show_weekday = False, double_date = False)
df_price_history

,Open,High,Low,Close,Final,Volume,Value,No,Ticker,Name,Market,Adj Open,Adj High,Adj Low,Adj Close,Adj Final
J-Date,,,,,,,,,,,,,,,,
1390-10-19,1510,2000,1350,1500,1424,7696000,10957338039,974,پترول,گروه پتروشیمی س. ایرانیان,پایه زرد,50,66,45,50,47
1390-10-20,1495,1495,1495,1495,1495,162000,242190000,17,پترول,گروه پتروشیمی س. ایرانیان,پایه زرد,49,49,49,49,49
1390-10-21,1569,1569,1569,1569,1569,36200,56797800,8,پترول,گروه پتروشیمی س. ایرانیان,پایه زرد,52,52,52,52,52
1390-10-25,1647,1647,1647,1647,1647,35000,57645000,7,پترول,گروه پتروشیمی س. ایرانیان,پایه زرد,54,54,54,54,54
1390-10-26,1729,1729,1662,1729,1725,1959858,3380796784,340,پترول,گروه پتروشیمی س. ایرانیان,پایه زرد,57,57,55,57,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401-05-19,2001,2034,1981,2003,2005,31470366,63083414585,1031,پترول,گ.س.وت.ص.پتروشیمی خلیج فارس,بورس,2001,2034,1981,2003,2005
1401-05-22,2050,2112,2022,2089,2078,44337565,92139395638,2071,پترول,گ.س.وت.ص.پتروشیمی خلیج فارس,بورس,2050,2112,2022,2089,2078
1401-05-23,2110,2110,2050,2092,2080,35056049,72923398299,1619,پترول,گ.س.وت.ص.پتروشیمی خلیج فارس,بورس,2110,2110,2050,2092,2080
1401-05-24,2061,2138,2061,2130,2112,38545242,81404861362,1866,پترول,گ.س.وت.ص.پتروشیمی خلیج فارس,بورس,2061,2138,2061,2130,2112
1401-05-25,2131,2238,2122,2180,2231,239914272,535176912237,5114,پترول,گ.س.وت.ص.پتروشیمی خلیج فارس,بورس,2131,2238,2122,2180,2231

### __1.2. Get_RI_History() Function__
__<font color='green'>Access to Stock Historical Retail-Institutional Traders Data (= سابقه حقیقی-حقوقی سهم)</font>__

In this function, __R__ stands for retail traders and __I__ stands for institutional traders. This function returns retail and institutional traders trades history in daily time frame, for a given stock, in a given period between start and end date. The function inputs are:

| __Parameter__ | __Format__ | __Description (EN)__ | __Description (FA)__ |
| :- | :- | :- | -: |
| __stock__ | String (in Farsi) | Ticker or name of firm in farsi | نماد یا نام کامل شرکت (سهم) مورد نظر به فارسی|
| __start_date__ | YYYY-MM-DD Jalali Date | returned data start date (included, if it is a trading day) | تاریخ شمسی شروع سابقه حقیقی-حقوقی برگردانده شده توسط تابع |
| __end_date__ | YYYY-MM-DD Jalali Date | returned data end date (included, if it is a trading day) |تاریخ شمسی پایان سابقه حقیقی-حقوقی برگردانده شده توسط تابع |
| __ignore_date__ | True/Flase | if True, the fucntion does not consider start and end date and gets all available history | توجه یا عدم توجه به تاریخ شروع و پایان در سابقه حقیقی-حقوقی برگردانده شده توسط تابع |
| __show_weekday__ | True/Flase | if True, the fucntion shows weekdays in a separate column |نمایش یا عدم نمایش نام روزهای هفته در خروجی تابع در یک ستون مجزا |
| __double_date__ | True/Flase | if True, fucntion shows international date in a separate column, in addition to Jalali date |نمایش یا عدم نمایش تاریخ میلادی در یک ستون مجزا علاوه بر تاریخ شمسی |

Returned dataframe's columns are:

| __Column Name__ | __Description (EN)__ | __Description (FA)__ | 
| :- | :- | -: | 
| __J-Date__ | Jalali date | تاریخ شمسی |
| __Date__ | International date | تاریخ میلادی |
| __Weekday__ | Name of weekdays | نام روز هفته |
| __No_Buy_R__ | Number of buy trades by retail traders | تعداد خرید حقیقی |
| __No_Buy_I__ | Number of buy trades by institutional traders | تعداد خرید حقوقی |
| __No_Sell_R__ | Number of sell trades by retail traders | تعداد فروش حقیقی |
| __No_Sell_I__ | Number of sell trades by institutional traders | تعداد فروش حقوقی |
| __Vol_Buy_R__ | Volume of buy trades by retail traders | حجم خرید حقیقی |
| __Vol_Buy_I__ | Volume of buy trades by institutional traders | حجم خرید حقوقی |
| __Vol_Sell_R__ | Volume of sell trades by retail traders | حجم فروش حقیقی |
| __Vol_Sell_I__ | Volume of sell trades by institutional traders | حجم فروش حقوقی |
| __Val_Buy_R__ | Value of buy trades by retail traders | ارزش خرید حقیقی |
| __Val_Buy_I__ | Value of buy trades by institutional traders | ارزش خرید حقوقی |
| __Val_Sell_R__ | Value of sell trades by retail traders | ارزش فروش حقیقی |
| __Val_Sell_I__ | Value of sell trades by institutional traders | ارزش فروش حقوقی |
| __Ticker__ | Ticker of the firm | نماد فارسی شرکت |
| __Name__ | Farsi Full Name of the firm | نام کامل فارسی شرکت |
| __Market <font color='orange'> (1.1.0) </font>__ | Market Name | بازاری که سهم در هر تاریخ در ان معامله شده است - بازار برخی سهم ها در گذر زمان تغییر میکند |

In [3]:
df_ri_history = fpy.Get_RI_History(stock = 'پترول', start_date = '1396-01-01', end_date='1400-12-29',\
                                   ignore_date = True, show_weekday = False, double_date = False)
df_ri_history

,No_Buy_R,No_Buy_I,No_Sell_R,No_Sell_I,Vol_Buy_R,Vol_Buy_I,Vol_Sell_R,Vol_Sell_I,Val_Buy_R,Val_Buy_I,Val_Sell_R,Val_Sell_I,Ticker,Name,Market
J-Date,,,,,,,,,,,,,,,
1390-10-19,196,4,41,2,6541842,1154158,2496000,5200000,9283101039,1674237000,3716786019,7240552020,پترول,گروه پتروشیمی س. ایرانیان,پایه زرد
1390-10-20,2,0,3,0,162000,0,162000,0,242190000,0,242190000,0,پترول,گروه پتروشیمی س. ایرانیان,پایه زرد
1390-10-21,2,0,6,0,36200,0,36200,0,56797800,0,56797800,0,پترول,گروه پتروشیمی س. ایرانیان,پایه زرد
1390-10-25,2,1,2,0,25000,10000,35000,0,41175000,16470000,57645000,0,پترول,گروه پتروشیمی س. ایرانیان,پایه زرد
1390-10-26,48,4,71,0,1544016,415842,1959858,0,2661805966,718990818,3380796784,0,پترول,گروه پتروشیمی س. ایرانیان,پایه زرد
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401-05-19,260,6,417,2,8694887,22775479,21626874,9843492,17421026261,45662388324,43376324101,19707090484,پترول,گ.س.وت.ص.پتروشیمی خلیج فارس,بورس
1401-05-22,484,4,724,3,35504791,8832774,38850425,5487140,73708009233,18431386405,80671947721,11467447917,پترول,گ.س.وت.ص.پتروشیمی خلیج فارس,بورس
1401-05-23,304,3,624,8,25226995,9829054,31269514,3786535,52488171985,20435226314,65045617854,7877780445,پترول,گ.س.وت.ص.پتروشیمی خلیج فارس,بورس
1401-05-24,432,3,722,2,33098600,5446642,33718139,4827103,69901895780,11502965582,71213103570,10191757792,پترول,گ.س.وت.ص.پتروشیمی خلیج فارس,بورس
1401-05-25,1241,4,1684,10,214614272,25300000,126126967,113787305,478555635634,56621276603,280745315996,254431596241,پترول,گ.س.وت.ص.پتروشیمی خلیج فارس,بورس

---------------------------------------------
## __2. Reading Single Stock Intraday Data__

Some people develop their trading strategies based on intra-day data. In this section, we will introduce finpy-tse module functions, you can use to access this type of data.

### __2.1. Get_IntradayTrades_History() Function__
__<font color='green'>Access to Stock Historical Intra-Day Trades Data (= سابقه ریز معاملات سهم)</font>__

Tehran Stock Exchange is open from 8:45 to 12:30. Orders are executed from 9:00 to 12:30 and from 8:45 to 9:00 is pre-opening period. In pre-opening period, you can place orders but they are not executed until 9:00. This function returns every signle executed trade with its execution time, volume and price. You can use this type of output to create price bars in different time frames, tick charts, volume bars, information bars, etc. as mentioned is Marcos Lopez Deprada's book, "Advances in Financial Machine Learning". 

The function inputs are:

| __Parameter__ | __Format__ | __Description (EN)__ | __Description (FA)__ |
| :- | :- | :- | -: |
| __stock__ | String (in Farsi) | Ticker or name of firm in farsi | نماد یا نام کامل شرکت (سهم) مورد نظر به فارسی|
| __start_date__ | YYYY-MM-DD Jalali Date | returned data start date (included, if it is a trading day) | تاریخ شمسی شروع سابقه ریز معاملات برگردانده شده توسط تابع |
| __end_date__ | YYYY-MM-DD Jalali Date | returned data end date (included, if it is a trading day) |تاریخ شمسی پایان سابقه ریز معاملات برگردانده شده توسط تابع |
| __jalali_date__ | True/False | If True, the function returns Jalali Date, otherwise it returns international date |نمایش تاریخ به صورت شمسی یا میلادی در خروجی تابع |
| __combined_datetime__ | True/False | If True, the function combines date and time and shows as single column |تلفیق یا عدم تلفیق زمان با تاریخ |
| __show_progress__ | True/False | If True, shows the % progress in gathering and processing data |نمایش یا عدم نمایش درصد پیشرفت اطلاعات جمع آوری و پردازش شده |

Returned dataframe's columns are:

| __Column Name__ | __Description (EN)__ | __Description (FA)__ | 
| :- | :- | -: | 
| __J-Date__ | Jalali date | تاریخ شمسی انجام معامله |
| __Date__ | International date | تاریخ میلادی انجام معامله |
| __Time__ | Day Time | ساعت انجام معامله |
| __J-DateTime__ | Jalali date and time |  تاریخ شمسی و ساعت انجام معامله |
| __DateTime__ | International date and time | تاریخ میلادی و ساعت انجام معامله |
| __Volume__ | Traded Volume | حجم معامله انجام شده در آن تاریخ و ساعت |
| __Price__ | Trade Price | قیمت معامله انجام شده در آن تاریخ و ساعت |

__Important Note:__ Combined Jalali DateTime takes more time to run. So, if you are interested in that sort of output, be patient when running the function.

In [4]:
df_intraday = fpy.Get_IntradayTrades_History(stock = 'خودرو', start_date = '1399-03-01', end_date='1399-09-30',
                                             jalali_date = True, combined_datatime = False, show_progress = True)
df_intraday

Progress :  100.0 %
WARNING: The following days data is not available on TSE website, even if those are trading days!
['1399-03-06', '1399-03-13']

                     Volume  Price
J-Date     Time
1399-03-03 14:15:06  100000   1353
           14:15:06  100000   1353
           14:15:06  100000   1353
           14:15:06  100000   1353
           14:15:06  100000   1353
...                     ...    ...
1399-09-30 12:29:59    3000   3480
           12:29:59    5033   3480
           12:29:59   43836   3480
           12:30:00   10000   3480
           12:30:00  100000   3480

[6203409 rows x 2 columns]

### __2.2. Get_IntradayOB_History() Function__
__<font color='green'>Intra-day, Order Book (OB), Historical Data for a Single Stock (= سابقه دفتر معاملات سهم)</font>__

Tehran Stock Exchange has a queue-based order book (OB). Five first rows of this OB is accessible for public and this function gets that data for previous days. Remember, this is not real time data, but it is for the past days. You can use this data to create your own dataset and develop trading strategies based on what happens in supply and demand.

The function inputs are:

| __Parameter__ | __Format__ | __Description (EN)__ | __Description (FA)__ |
| :- | :- | :- | -: |
| __stock__ | String (in Farsi) | Ticker or name of firm in farsi | نماد یا نام کامل شرکت (سهم) مورد نظر به فارسی|
| __start_date__ | YYYY-MM-DD Jalali Date | returned data start date (included, if it is a trading day) | تاریخ شمسی شروع سابقه دفتر معاملات برگردانده شده توسط تابع |
| __end_date__ | YYYY-MM-DD Jalali Date | returned data end date (included, if it is a trading day) |تاریخ شمسی پایان سابقه دفتر معاملات برگردانده شده توسط تابع |
| __jalali_date__ | True/False | If True, the function returns Jalali Date, otherwise it returns international date |نمایش تاریخ به صورت شمسی یا میلادی در خروجی تابع |
| __combined_datetime__ | True/False | If True, the function combines date and time and shows as single column |تلفیق یا عدم تلفیق زمان با تاریخ |
| __show_progress__ | True/False | If True, shows the % progress in gathering and processing data |نمایش یا عدم نمایش درصد پیشرفت اطلاعات جمع آوری و پردازش شده |

Returned dataframe's columns are:

| __Column Name__ |__Description (EN)__ | __Description (FA)__ | 
| :- | :- | -: | 
| __J-Date__ | Jalali date | تاریخ شمسی انجام معامله |
| __Date__ | International date | تاریخ میلادی انجام معامله |
| __Time__ | Day Time | ساعت انجام معامله |
| __J-DateTime__ | Jalali date and time |  تاریخ شمسی و ساعت انجام معامله |
| __DateTime__ | International date and time | تاریخ میلادی و ساعت انجام معامله |
| __Depth__ |Order Book Depth (1-5)| عمق دفتر سفارشات (بهترین مظنه در عمق 1) |
| __Sell-No__ |Number of People Willing to Sell at Given Price| تعداد افراد حاضر به فروش در آن مظنه فروش |
| __Sell-Vol__ |Day Open Price| حجم تجمعی فروشندگان در آن مظنه فروش |
| __Sell-Price__ |Offered Sell Price| قیمت پیشنهادی فروشندگان در آن مظنه فروش |
| __Buy-Price__ |Offered Buy Price| قیمت پیشنهادی خریداران در آن مظنه خرید |
| __Buy-Vol__ |Ready Buy Volume at Given Price| حجم تجمعی خریداران در آن مظنه خرید  |
| __Buy-No__ |Number of People Willing to Buy at Given Price| تعداد افراد حاضر به خرید در آن مظنه خرید |
| __Day_UL__ |Day Upper Limit Price| بالاترین قیمت مجاز برای معامله در آن روز  |
| __Day_LL__ |Day Lower Limit Price| پایین ترین قیمت مجاز برای معامله در آن روز  |

__Important Note:__ Combined Jalali DateTime takes more time to run. So, if you are interested in that sort of output, be patient when running the function.

In [5]:
df_ob = fpy.Get_IntradayOB_History(stock = 'آبین', start_date = '1399-01-01', end_date='1399-02-31',
                                   jalali_date = False, combined_datatime = True, show_progress = True)
df_ob

Progress :  100.0 %
WARNING: The following days data is not available on TSE website, even if those are trading days!
['1399-01-09', '1399-01-10']

,,Sell_No,Sell_Vol,Sell_Price,Buy_Price,Buy_Vol,Buy_No,Day_LL,Day_UL
DateTime,Depth,,,,,,,,
2020-03-24 08:45:12,1,280,3550501,35563.0,35563.0,6284,10,35563.0,37761.0
2020-03-24 08:45:15,1,279,3549883,35563.0,35563.0,6284,10,35563.0,37761.0
2020-03-24 08:45:19,1,279,3549883,35563.0,35563.0,7454,11,35563.0,37761.0
2020-03-24 08:45:24,1,279,3549883,35563.0,35563.0,8454,12,35563.0,37761.0
2020-03-24 08:45:27,5,10,54935,37761.0,0.0,0,0,35563.0,37761.0
...,...,...,...,...,...,...,...,...,...
2020-05-20 12:29:33,1,1,100,42561.0,42451.0,3765413,1011,39979.0,42451.0
2020-05-20 12:29:39,1,1,100,42561.0,42451.0,3765113,1010,39979.0,42451.0
2020-05-20 12:29:40,1,1,100,42561.0,42451.0,3760453,1009,39979.0,42451.0
2020-05-20 12:29:46,1,1,100,42561.0,42451.0,3760172,1008,39979.0,42451.0
2020-05-20 12:29:47,1,1,100,42561.0,42451.0,3759203,1006,39979.0,42451.0

### __2.3. Get_Queue_History() Function__
__<font color='green'>Market Closing Queue History for a Given Stock and Period (= سابقه ارزش صف خرید یا فروش سهم در زمان بسته شدن بازار)</font>__

Tehran Stock Exchange has a queue-based order book (OB). Most of the time, when the market is closed, there are some unfilled orders in the order book and behind the buy/sell queues, which shows some sort of supply/demand accumulation for that stock. You can include these data in your analysis for developing better and more realistic trading strategies, as TSE is not liquid enough to get in/out of a trade, whenever your trading strategy wants. This function will provide you the historical data of buy/sell queues for a given stock, in a given period, when the market is closed around 12:30.

The function inputs are:

| __Parameter__ | __Format__ | __Description (EN)__ | __Description (FA)__ |
| :- | :- | :- | -: |
| __stock__ | String (in Farsi) | Ticker or name of firm in farsi | نماد یا نام کامل شرکت (سهم) مورد نظر به فارسی|
| __start_date__ | YYYY-MM-DD Jalali Date | returned data start date (included, if it is a trading day) | تاریخ شمسی شروع سابقه ارزش صف های خرید یا فروش برگردانده شده توسط تابع |
| __end_date__ | YYYY-MM-DD Jalali Date | returned data end date (included, if it is a trading day) |تاریخ شمسی پایان سابقه ارزش صف های خرید یا فروش برگردانده شده توسط تابع |
| __show_per_capita__ | True/Flase | if True, the fucntion returns per capita value of queue |نمایش یا عدم نمایش سرانه سفارشات در صف خرید یا فروش |
| __show_weekday__ | True/Flase | if True, the fucntion shows weekdays in a separate column |نمایش یا عدم نمایش نام روزهای هفته در خروجی تابع در یک ستون مجزا |
| __double_date__ | True/Flase | if True, fucntion shows international date in a separate column, in addition to Jalali date |نمایش یا عدم نمایش تاریخ میلادی در یک ستون مجزا علاوه بر تاریخ شمسی |
| __show_progress__ | True/False | If True, shows the % progress in gathering and processing data |نمایش یا عدم نمایش درصد پیشرفت اطلاعات جمع آوری و پردازش شده |

Returned dataframe's columns are:

| __Column Name__ |__Description (EN)__ | __Description (FA)__ | 
| :- | :- | -: | 
| __J-Date__ | Jalali date | تاریخ شمسی |
| __Date__ | International date | تاریخ میلادی |
| __Weekday__ | Name of weekdays | نام روز هفته |
| __Day_UL__ |Day Upper Limit Price| بالاترین قیمت مجاز روز جاری |
| __Day_LL__ |Day Lower Limit Price| پایین ترین قیمت مجاز روز جاری |
| __Value__ |Value of Executed Trades| ارزش معاملات درآن روز |
| __Time__ |Time of the latest available order book data before market close| زمان اطلاعات آخرین دفتر معاملات در دسترس قبل از بسته شدن بازار |
| __BQ-Value__ |Buy Queue Value (Rial) | ارزش صف خرید در انتهای آن روز و در زمان بسته شدن بازار (ریال) |
| __SQ-Value__ |Sell Queue Value (Rial)| ارزش صف فروش در انتهای آن روز و در زمان بسته شدن بازار (ریال) |
| __BQPC__ |Buy Queue Per-Capita (Rial)| ارزش سرانه صف خرید در انتهای آن روز و در زمان بسته شدن بازار (ریال) |
| __SQPC__ |Sell Queue Per-Capita (Rial)| ارزش سرانه صف فروش در انتهای آن روز و در زمان بسته شدن بازار (ریال) |

In [6]:
df_bq_sq_val = fpy.Get_Queue_History(stock = 'آبین', start_date = '1399-01-01', end_date='1399-02-31', show_per_capita = True,\
                                     show_weekday = True, double_date = True, show_progress = True)
df_bq_sq_val

Progress :  100.0 %
WARNING: The following days data is not available on TSE website, even if those are trading days!
['1399-01-09', '1399-01-10']

,Date,Weekday,Day_UL,Day_LL,Value,Time,BQ_Value,SQ_Value,BQPC,SQPC
J-Date,,,,,,,,,,
1399-01-05,2020-03-24,Tuesday,35563,37761,3516967322,12:29:52,0,125025851808,0,265447668
1399-01-06,2020-03-25,Wednesday,35370,37556,20491397280,12:29:59,0,90617055750,0,196566281
1399-01-11,2020-03-30,Monday,35924,38146,352814122749,12:29:56,19069032816,0,92120931,0
1399-01-16,2020-04-04,Saturday,36058,39852,83208903862,12:29:56,40857147144,0,69484944,0
1399-01-17,2020-04-05,Sunday,38520,40902,22675946094,12:29:50,46435836090,0,74896510,0
1399-01-18,2020-04-06,Monday,39675,42129,155197246275,12:29:58,0,0,0,0
1399-01-19,2020-04-07,Tuesday,40777,43299,39762264355,12:29:59,0,63531626202,0,143412249
1399-01-20,2020-04-08,Wednesday,39554,42000,262111791321,12:30:00,0,0,0,0
1399-01-23,2020-04-11,Saturday,39229,41655,179223810561,12:29:54,2657255760,0,61796646,0
1399-01-24,2020-04-12,Sunday,39768,42226,106187068539,12:30:00,0,0,0,0
1399-01-25,2020-04-13,Monday,40865,43391,51136553972,12:29:52,0,10123241260,0,123454162
1399-01-26,2020-04-14,Tuesday,39851,42315,67247055673,12:30:00,0,6408797969,0,83231142
1399-01-27,2020-04-15,Wednesday,38905,41311,142756328270,12:29:59,0,0,0,0
1399-01-30,2020-04-18,Saturday,38192,40554,121829793216,12:30:00,13845622248,0,40963379,0
1399-01-31,2020-04-19,Sunday,39337,41769,95997976150,12:30:00,0,8304158711,0,244239962
1399-02-01,2020-04-20,Monday,39265,41693,98062518463,12:29:57,9742861933,0,70600449,0
1399-02-02,2020-04-21,Tuesday,39927,42395,98972526339,12:29:52,11524148060,0,209529965,0
1399-02-03,2020-04-22,Wednesday,41061,43599,25154966238,12:29:58,25098156741,0,79173996,0
1399-02-06,2020-04-25,Saturday,41420,45778,18398223978,12:29:56,49829124110,0,74371827,0
1399-02-07,2020-04-26,Sunday,44143,46873,215092836114,12:30:00,0,0,0,0
1399-02-08,2020-04-27,Monday,44009,46731,130982465123,12:29:58,0,3836572593,0,142095281
1399-02-09,2020-04-28,Tuesday,42959,45615,111002200188,12:29:56,0,0,0,0
1399-02-10,2020-04-29,Wednesday,42091,44693,127721107720,12:29:54,0,0,0,0
1399-02-13,2020-05-02,Saturday,42415,45037,88887051528,12:29:55,0,0,0,0
1399-02-14,2020-05-03,Sunday,43686,46388,137425920190,12:29:57,0,0,0,0
1399-02-15,2020-05-04,Monday,44788,47558,86626531048,12:29:54,0,19723425924,0,128911281
1399-02-16,2020-05-05,Tuesday,43445,46131,61164199069,12:29:43,0,47576185050,0,154971287
1399-02-17,2020-05-06,Wednesday,42280,44894,38666074720,12:29:56,0,38927745640,0,111222130
1399-02-20,2020-05-09,Saturday,40166,44394,120245546544,12:29:59,0,0,0,0
1399-02-21,2020-05-10,Sunday,42307,44923,54571739925,12:29:59,0,23855817318,0,95423269
1399-02-22,2020-05-11,Monday,41285,43837,24026136030,12:29:45,0,43064796350,0,102049280
1399-02-23,2020-05-12,Tuesday,40047,42523,13696995081,12:29:52,0,54504287376,0,98029294
1399-02-24,2020-05-13,Wednesday,38371,42409,91086825316,12:29:55,0,0,0,0
1399-02-27,2020-05-16,Saturday,37835,40175,62725642077,12:29:58,0,0,0,0
1399-02-28,2020-05-17,Sunday,37348,39658,44314905914,12:29:53,2475055780,0,63462969,0
1399-02-29,2020-05-18,Monday,37685,40015,38695305300,12:29:53,5553561805,0,71199510,0
1399-02-30,2020-05-19,Tuesday,38815,41215,34845427825,12:29:55,1344309655,0,34469478,0
1399-02-31,2020-05-20,Wednesday,39979,42451,49664443724,12:29:47,159581926553,0,158630146,0

---------------------------------------------
## __3. Reading Market Indices Historical Data__
__<font color='green'>شاخص های بازار بورس تهران</font>__

Market indices play an important role in performace evaluation and developing some investment or trading strategies. For example, most people like to calculate a __portfolio or stock's Beta coefficient__ with respect to overall market index. In this section we will introduce finpy-tse module's functions, you could use to access to Tehran Stock Exchange indices.

### __3.1. Get_CWI_History() Function__
__<font color='green'>Access to Cap-Weighted Index (CWI) Historical Data (= شاخص کل بورس)</font>__

You can use the cap-weighted index (CWI) to check if a portfolio or stock is ahead of the market or behind it, in term of performance. It can also be used in CAPM and other factor models like Fama-French and Carhart as market factor of the model. The function inputs are:

| __Parameter__ | __Format__ | __Description (EN)__ | __Description (FA)__ |
| :- | :- | :- | -: |
| __start_date__ | YYYY-MM-DD Jalali Date | returned data start date (included, if it is a trading day) | تاریخ شمسی شروع سابقه شاخص برگردانده شده توسط تابع |
| __end_date__ | YYYY-MM-DD Jalali Date | returned data end date (included, if it is a trading day) |تاریخ شمسی پایان سابقه شاخص برگردانده شده توسط تابع |
| __ignore_date__ | True/Flase | if True, the fucntion does not consider start and end date and gets all available history | توجه یا عدم توجه به تاریخ شروع و پایان در سابقه شاخص برگردانده شده توسط تابع |
| __just_adj_close__ | True/Flase | if True, the fucntion just returns the adjusted close column |تعیین اینکه آیا فقط آخرین قیمت تعدیل شده شاخص برگردانده شود یا همه اطلاعات |
| __show_weekday__ | True/Flase | if True, the fucntion shows weekdays in a separate column |نمایش یا عدم نمایش نام روزهای هفته در خروجی تابع در یک ستون مجزا |
| __double_date__ | True/Flase | if True, fucntion shows international date in a separate column, in addition to Jalali date |نمایش یا عدم نمایش تاریخ میلادی در یک ستون مجزا علاوه بر تاریخ شمسی |

Returned dataframe's columns are:

| __Column Name__ | __Description (EN)__ | __Description (FA)__ | 
| :- | :- | -: | 
| __J-Date__ | Jalali date | تاریخ شمسی |
| __Date__ | International date | تاریخ میلادی |
| __Weekday__ | Name of weekdays | نام روز هفته |
| __Open__ | Index Day Open Value | قیمت باز شدن شاخص در آن روز |
| __High__ | Index Day High Value | بالاترین قیمت شاخص در آن روز |
| __Low__ | Index Day Low Value | آخرین قیمت شاخص در آن روز |
| __Close__ | Index Day Close Value | آخرین قیمت روز |
| __Adj Close__ | Index Day Adjusted Close Value | آخرین قیمت تعدیل شده شاخص در آن روز |
| __Volume__ | Traded Volume of all Stocks in the Index| حجم معاملات همه سهم هایی که در شاخص هستند |

__Important Note:__ You can also use the following setting to get only the adj-close history of the index, which is a highly recommended practice:
```python  
just_adj_close = True 
```

In [7]:
df_cwi_history = fpy.Get_CWI_History(start_date = '1395-01-01', end_date='1400-12-29', ignore_date = False, 
                                     just_adj_close = True, show_weekday = True, double_date = True)
df_cwi_history

                 Date    Weekday  Adj Close
J-Date
1395-01-07 2016-03-26   Saturday    81200.3
1395-01-08 2016-03-27     Sunday    81261.0
1395-01-09 2016-03-28     Monday    80935.7
1395-01-10 2016-03-29    Tuesday    80561.3
1395-01-11 2016-03-30  Wednesday    81480.4
...               ...        ...        ...
1400-12-22 2022-03-13     Sunday  1335376.4
1400-12-23 2022-03-14     Monday  1334776.9
1400-12-24 2022-03-15    Tuesday  1337223.2
1400-12-25 2022-03-16  Wednesday  1345018.2
1400-12-28 2022-03-19   Saturday  1367250.3

[1448 rows x 3 columns]

### __3.2. Get_EWI_History() Function__
__<font color='green'>Access to Equal-Weighted Index (EWI) Historical Data (= شاخص کل هم وزن بورس)</font>__

You can use the equal-weighted index (EWI) to check if a portfolio or stock is ahead of the market or behind it, in term of performance. It can also be used to understand if small-cap stocks performance is better than large-cap stocks, or not. 

The inputs and outputs are same as __Get_CWI_History()__ described in section 3.1.

In [8]:
df_ewi_history = fpy.Get_EWI_History(start_date = '1394-01-01', end_date='1401-01-31', ignore_date = False, 
                                     just_adj_close = False, show_weekday = True, double_date = True)
df_ewi_history

,Date,Weekday,Open,High,Low,Close,Adj Close,Volume
J-Date,,,,,,,,
1394-01-05,2015-03-25,Wednesday,9869.0,9884.0,9869.0,9884.0,9884.4,284988282
1394-01-08,2015-03-28,Saturday,9890.0,9980.0,9889.0,9980.0,9980.2,572398187
1394-01-09,2015-03-29,Sunday,10004.0,10148.0,10004.0,10147.0,10146.8,943264725
1394-01-10,2015-03-30,Monday,10148.0,10152.0,10079.0,10079.0,10078.6,726293674
1394-01-11,2015-03-31,Tuesday,10073.0,10094.0,10066.0,10081.0,10081.2,615520282
...,...,...,...,...,...,...,...,...
1401-01-27,2022-04-16,Saturday,384052.0,387639.0,384052.0,387639.0,387646.0,7494763045
1401-01-28,2022-04-17,Sunday,388314.0,390993.0,388021.0,390987.0,390986.0,8645131543
1401-01-29,2022-04-18,Monday,392446.0,398424.0,392446.0,397769.0,397775.0,10668521985
1401-01-30,2022-04-19,Tuesday,398089.0,400574.0,397724.0,400574.0,400575.0,8464317027
1401-01-31,2022-04-20,Wednesday,401605.0,401965.0,400917.0,401436.0,401430.0,8789038421

### __3.3. Get_CWPI_History() Function__
__<font color='green'>Access to Cap-Weighted Price Index (CWPI) Historical Data (= شاخص قیمت وزنی-ارزشی بورس)</font>__

Cap-Weighted Price Index (CWPI) is very similar to Cap-Weighted Index (CWI), except that in CWPI, dividents has no effect in index calculations and there is no adjustment for price changes, resulting from DPS. Please note that the historical data for CWPI index, in the form of OHLCV, is available from 1393-12-04, but adj-close historical data is available from 1387-09-14. 

The inputs and outputs are same as __Get_CWI_History()__ described in section 3.1.

In [9]:
cwpi_history = fpy.Get_CWPI_History(start_date='1395-01-01', end_date='1400-12-29', ignore_date = False, \
                                    just_adj_close = False, show_weekday = True, double_date = True)
cwpi_history

,Date,Weekday,Open,High,Low,Close,Adj Close,Volume
J-Date,,,,,,,,
1395-01-07,2016-03-26,Saturday,30479.0,30884.0,30479.0,30884.0,30884.2,785545121
1395-01-08,2016-03-27,Sunday,30966.0,30979.0,30905.0,30907.0,30906.2,1006304416
1395-01-09,2016-03-28,Monday,30835.0,30835.0,30782.0,30782.0,30782.5,677383208
1395-01-10,2016-03-29,Tuesday,30747.0,30765.0,30640.0,30640.0,30640.1,1491153697
1395-01-11,2016-03-30,Wednesday,30721.0,30997.0,30721.0,30990.0,30989.7,947224063
...,...,...,...,...,...,...,...,...
1400-12-22,2022-03-13,Sunday,328321.0,329182.0,328196.0,329070.0,329068.0,4474518130
1400-12-23,2022-03-14,Monday,329130.0,329409.0,328922.0,328922.0,328064.0,3542225724
1400-12-24,2022-03-15,Tuesday,327996.0,328834.0,327977.0,328676.0,328643.0,4977068562
1400-12-25,2022-03-16,Wednesday,329141.0,330562.0,329141.0,330562.0,330552.0,4191591985
1400-12-28,2022-03-19,Saturday,331237.0,336015.0,331237.0,336014.0,335901.0,5431365028

### __3.4. Get_EWPI_History() Function__
__<font color='green'>Access to Equal-Weighted Price Index (EWPI) Historical Data (= شاخص قیمت هم وزن بورس)</font>__

Equal-Weighted Price Index (EWPI) is very similar to Equal-Weighted Index (EWI), except that in EWPI, dividents has no effect in index calculations and there is no adjustment for price changes, resulting from DPS. Please note that the historical data for EWPI index, in the form of OHLCV, is available from 1393-12-05, but adj-close historical data is available from 1392-12-28. 

The inputs and outputs are same as __Get_CWI_History()__ described in section 3.1.

In [10]:
ewpi_history = fpy.Get_EWPI_History(start_date='1395-01-01', end_date='1400-12-29', ignore_date = True, \
                                    just_adj_close = False, show_weekday = True, double_date = True)
ewpi_history

,Date,Weekday,Open,High,Low,Close,Adj Close,Volume
J-Date,,,,,,,,
1393-12-05,2015-02-24,Tuesday,9198.0,9212.0,9182.0,9182.0,9115.9,278521094
1393-12-06,2015-02-25,Wednesday,9183.0,9183.0,9109.0,9109.0,9033.8,271188153
1393-12-09,2015-02-28,Saturday,9112.0,9117.0,9090.0,9090.0,9014.7,257849083
1393-12-10,2015-03-01,Sunday,9014.0,9030.0,9009.0,9030.0,9030.4,475683577
1393-12-11,2015-03-02,Monday,9034.0,9056.0,9034.0,9044.0,9043.5,717632564
...,...,...,...,...,...,...,...,...
1401-05-19,2022-08-10,Wednesday,234332.0,234386.0,233493.0,233493.0,233493.0,3550910390
1401-05-22,2022-08-13,Saturday,234053.0,237258.0,234053.0,237258.0,237227.0,5239433036
1401-05-23,2022-08-14,Sunday,237836.0,237861.0,236965.0,236965.0,236888.0,6176494488
1401-05-24,2022-08-15,Monday,236916.0,237960.0,236883.0,237955.0,237950.0,6474478937
1401-05-25,2022-08-16,Tuesday,238521.0,239221.0,238521.0,238787.0,238752.0,7636021437

### __3.5. Get_FFI_History() Function__
__<font color='green'>Access to Free-Float Index (FFI) Historical Data (= TEFIX = شاخص آزاد شناور بورس)</font>__

Free-Float Index (FFI) is very similar to Cap-Weighted Index (CWI), except that in FFI, instead of using all released shares for a stock, we only use number of free float shares to calculate market cap. Please note that the historical data for FFI index, in the form of OHLCV, is available from 1388-04-09, but adj-close historical data is available from 1388-04-08. 

The inputs and outputs are same as __Get_CWI_History()__ described in section 3.1.

In [11]:
ffi_history = fpy.Get_FFI_History(start_date='1395-01-01', end_date='1400-12-29', ignore_date = False, \
                                  just_adj_close = False, show_weekday = True, double_date = True)
ffi_history

,Date,Weekday,Open,High,Low,Close,Adj Close,Volume
J-Date,,,,,,,,
1395-01-07,2016-03-26,Saturday,92349.0,93869.0,92349.0,93869.0,93869.0,785545121
1395-01-08,2016-03-27,Sunday,94166.0,94204.0,93830.0,93830.0,93830.5,1006304416
1395-01-09,2016-03-28,Monday,93424.0,93424.0,93262.0,93262.0,93262.5,677383208
1395-01-10,2016-03-29,Tuesday,93025.0,93052.0,92664.0,92676.0,92676.3,1491153697
1395-01-11,2016-03-30,Wednesday,93026.0,94149.0,93026.0,94147.0,94147.3,947224063
...,...,...,...,...,...,...,...,...
1400-12-22,2022-03-13,Sunday,1711900.0,1716230.0,1711630.0,1715700.0,1715820.0,4474518130
1400-12-23,2022-03-14,Monday,1716250.0,1718430.0,1715920.0,1715920.0,1715910.0,3542225724
1400-12-24,2022-03-15,Tuesday,1715350.0,1719370.0,1715150.0,1718530.0,1718420.0,4977068562
1400-12-25,2022-03-16,Wednesday,1721810.0,1729840.0,1721810.0,1729840.0,1729840.0,4191591985
1400-12-28,2022-03-19,Saturday,1734480.0,1761240.0,1734480.0,1761240.0,1761240.0,5431365028

### __3.6. Get_MKT1I_History() Function__
__<font color='green'>Access to First Market Index (MKT1I) Historical Data (= شاخص بازار اول بورس)</font>__

In Tehran Stock Exchange's Bourse market, stocks has been divided into two sub-markets, first market and second market, based on their profitiblity, free float, liquidity and some other parameters. Each market has its own cap-weighted index. This function gets the first market index (MKT1I) data for you. Please note that the historical data for MKT1I index, in the form of OHLCV, is available from 1387-09-16, but adj-close historical data is available from 1387-09-14. 

The inputs and outputs are same as __Get_CWI_History()__ described in section 3.1.

In [12]:
mkt1i_history = fpy.Get_MKT1I_History(start_date='1395-01-01', end_date='1400-12-29', ignore_date = False, \
                                      just_adj_close = False, show_weekday = True, double_date = True)
mkt1i_history

,Date,Weekday,Open,High,Low,Close,Adj Close,Volume
J-Date,,,,,,,,
1395-01-07,2016-03-26,Saturday,56906.0,57896.0,56906.0,57897.0,57896.6,627397539
1395-01-08,2016-03-27,Sunday,58114.0,58145.0,57926.0,57932.0,57932.0,572942045
1395-01-09,2016-03-28,Monday,57754.0,57754.0,57636.0,57636.0,57635.6,440061076
1395-01-10,2016-03-29,Tuesday,57533.0,57533.0,57190.0,57192.0,57191.5,1027589626
1395-01-11,2016-03-30,Wednesday,57302.0,57948.0,57302.0,57926.0,57926.3,676272786
...,...,...,...,...,...,...,...,...
1400-12-22,2022-03-13,Sunday,1030650.0,1035780.0,1030650.0,1035300.0,1035400.0,2205153663
1400-12-23,2022-03-14,Monday,1035690.0,1036660.0,1034910.0,1034910.0,1034930.0,1675442361
1400-12-24,2022-03-15,Tuesday,1034680.0,1038670.0,1034660.0,1037930.0,1037860.0,3100413076
1400-12-25,2022-03-16,Wednesday,1040250.0,1043490.0,1040190.0,1043490.0,1043470.0,2018220864
1400-12-28,2022-03-19,Saturday,1046010.0,1064120.0,1046010.0,1064120.0,1064110.0,2495667157

### __3.7. Get_MKT2I_History() Function__
__<font color='green'>Access to Second Market Index (MKT2I) Historical Data (= شاخص بازار دوم بورس)</font>__

In Tehran Stock Exchange's Bourse market, stocks has been divided into two sub-markets, first market and second market, based on their profitiblity, free float, liquidity and some other parameters. Each market has its own cap-weighted index. This function gets the second market index (MKT2I) data for you. Please note that the historical data for MKT2I index, in the form of OHLCV, is available from 1387-09-16, but adj-close historical data is available from 1387-09-14. 

The inputs and outputs are same as __Get_CWI_History()__ described in section 3.1.

In [13]:
mkt2i_history = fpy.Get_MKT2I_History(start_date='1395-01-01', end_date='1400-12-29', ignore_date = False, \
                                      just_adj_close = False, show_weekday = True, double_date = True)
mkt2i_history

,Date,Weekday,Open,High,Low,Close,Adj Close,Volume
J-Date,,,,,,,,
1395-01-07,2016-03-26,Saturday,170302.0,171185.0,170302.0,171185.0,171185.0,158147582
1395-01-08,2016-03-27,Sunday,171268.0,171373.0,171268.0,171359.0,171359.0,433362371
1395-01-09,2016-03-28,Monday,171235.0,171235.0,171046.0,171057.0,171057.0,237322132
1395-01-10,2016-03-29,Tuesday,171081.0,171466.0,171081.0,171322.0,171322.0,463564071
1395-01-11,2016-03-30,Wednesday,172018.0,172787.0,172018.0,172787.0,172787.0,270951277
...,...,...,...,...,...,...,...,...
1400-12-22,2022-03-13,Sunday,2513220.0,2513220.0,2509280.0,2511820.0,2511800.0,2269364467
1400-12-23,2022-03-14,Monday,2511980.0,2513900.0,2510760.0,2510760.0,2510680.0,1866783363
1400-12-24,2022-03-15,Tuesday,2510280.0,2512580.0,2509900.0,2512070.0,2512090.0,1876655486
1400-12-25,2022-03-16,Wednesday,2513390.0,2528100.0,2513390.0,2528100.0,2528090.0,2173371121
1400-12-28,2022-03-19,Saturday,2532160.0,2559380.0,2532160.0,2559370.0,2559420.0,2935697871

### __3.8. Get_INDI_History() Function__
__<font color='green'>Access to Industry Index (INDI) Historical Data (= شاخص صنعت بورس)</font>__

This is a cap-weighted index for just those stocks that are industrial companies. This function gets the industry index (INDI) data for you. Please note that the historical data for MKT2I index, in the form of OHLCV, is available from 1387-09-15, but adj-close historical data is available from 1387-09-14. 

The inputs and outputs are same as __Get_CWI_History()__ described in section 3.1.

In [14]:
indi_history = fpy.Get_INDI_History(start_date='1395-01-01', end_date='1400-12-29', ignore_date = False, \
                                    just_adj_close = False, show_weekday = True, double_date = True)
indi_history

,Date,Weekday,Open,High,Low,Close,Adj Close,Volume
J-Date,,,,,,,,
1395-01-07,2016-03-26,Saturday,66988.0,67547.0,66988.0,67547.0,67547.1,571954728
1395-01-08,2016-03-27,Sunday,67595.0,67607.0,67493.0,67493.0,67492.9,529072524
1395-01-09,2016-03-28,Monday,67276.0,67314.0,67209.0,67209.0,67209.4,397361929
1395-01-10,2016-03-29,Tuesday,67166.0,67166.0,66874.0,66875.0,66874.7,1151654864
1395-01-11,2016-03-30,Wednesday,67102.0,67589.0,67102.0,67589.0,67588.8,681107453
...,...,...,...,...,...,...,...,...
1400-12-22,2022-03-13,Sunday,1229960.0,1233540.0,1229610.0,1233220.0,1233300.0,3734131731
1400-12-23,2022-03-14,Monday,1234060.0,1234620.0,1232600.0,1232600.0,1232590.0,2924910274
1400-12-24,2022-03-15,Tuesday,1232760.0,1234820.0,1232760.0,1234080.0,1234020.0,4231407985
1400-12-25,2022-03-16,Wednesday,1236910.0,1241720.0,1236910.0,1241720.0,1241710.0,3856839808
1400-12-28,2022-03-19,Saturday,1246940.0,1260890.0,1246940.0,1260890.0,1260890.0,4492172417

### __3.9. Get_LCI30_History() Function__
__<font color='green'>Access to Top 30 Large-Cap Index (LCI30) Historical Data (= شاخص 30 شرکت بزرگ بورس)</font>__

This is a cap-weighted index for top 30 large-cap (LCI30) stocks in Bourse market. This function gets the 30 large-cap index (LCI30) data for you. Please note that the historical data for 30LCI index, in the form of OHLCV and adj-close, both are available from 1389-05-24. 

The inputs and outputs are same as __Get_CWI_History()__ described in section 3.1.

In [15]:
lci30_history = fpy.Get_LCI30_History(start_date='1395-01-01', end_date='1400-12-29', ignore_date = False, \
                                      just_adj_close = False, show_weekday = True, double_date = True)
lci30_history

,Date,Weekday,Open,High,Low,Close,Adj Close,Volume
J-Date,,,,,,,,
1395-01-07,2016-03-26,Saturday,3379.0,3454.0,3379.0,3454.0,3454.2,290228382
1395-01-08,2016-03-27,Sunday,3465.0,3475.0,3455.0,3455.0,3455.4,336982051
1395-01-09,2016-03-28,Monday,3444.0,3444.0,3431.0,3431.0,3430.6,255295732
1395-01-10,2016-03-29,Tuesday,3421.0,3423.0,3401.0,3401.0,3400.7,411464948
1395-01-11,2016-03-30,Wednesday,3404.0,3452.0,3404.0,3450.0,3450.4,323150383
...,...,...,...,...,...,...,...,...
1400-12-22,2022-03-13,Sunday,76002.0,76380.0,75967.0,76355.0,76362.7,1962870687
1400-12-23,2022-03-14,Monday,76367.0,76520.0,76367.0,76385.0,76383.3,1400649471
1400-12-24,2022-03-15,Tuesday,76324.0,76485.0,76313.0,76414.0,76405.5,2095721791
1400-12-25,2022-03-16,Wednesday,76511.0,76848.0,76456.0,76848.0,76847.1,1748480583
1400-12-28,2022-03-19,Saturday,76966.0,78494.0,76966.0,78494.0,78494.6,2434185390

### __3.10. Get_ACT50_History() Function__
__<font color='green'>Access to Top 50 Active Index (ACT50) Historical Data (= شاخص 50 شرکت فعال بورس)</font>__

This is a cap-weighted index for top 50 active (ACT50) stocks in Bourse market. This function gets the 50 most active stocks index (ACT50) data for you. Please note that the historical data for ACT50 index, in the form of OHLCV, is available from 1387-09-16, but adj-close historical data is available from 1387-09-15. 

The inputs and outputs are same as __Get_CWI_History()__ described in section 3.1.

In [16]:
act50_history = fpy.Get_ACT50_History(start_date='1395-01-01', end_date='1400-12-29', ignore_date = False, \
                                      just_adj_close = False, show_weekday = True, double_date = True)
act50_history

,Date,Weekday,Open,High,Low,Close,Adj Close,Volume
J-Date,,,,,,,,
1395-01-07,2016-03-26,Saturday,3256.0,3301.0,3256.0,3301.0,3300.7,631986992
1395-01-08,2016-03-27,Sunday,3311.0,3311.0,3305.0,3305.0,3304.8,775084867
1395-01-09,2016-03-28,Monday,3293.0,3296.0,3290.0,3290.0,3289.8,470238679
1395-01-10,2016-03-29,Tuesday,3287.0,3287.0,3271.0,3271.0,3270.6,1127454520
1395-01-11,2016-03-30,Wednesday,3283.0,3311.0,3283.0,3311.0,3310.8,644347187
...,...,...,...,...,...,...,...,...
1400-12-22,2022-03-13,Sunday,53673.0,53864.0,53661.0,53849.0,53852.1,2740396703
1400-12-23,2022-03-14,Monday,53891.0,53918.0,53812.0,53812.0,53811.9,1888031361
1400-12-24,2022-03-15,Tuesday,53818.0,53932.0,53818.0,53897.0,53894.4,3332531141
1400-12-25,2022-03-16,Wednesday,54011.0,54186.0,54011.0,54186.0,54185.1,2402301636
1400-12-28,2022-03-19,Saturday,54400.0,55146.0,54400.0,55146.0,55146.9,3218901096

### __3.11. Get_SectorIndex_History() Function__
__<font color='green'>Access to a Sector Index Historical Data (= شاخص گروه صنعت در بازار بورس)</font>__

Each sector has its own cap-weighted index. The universe of each sector index is that sector's stocks in the Bourse (not Fara-Bourse) market. You can access to each sector cap-weighted index using this function and sector name. 

The inputs and outputs are same as __Get_CWI_History()__ described in section 3.1, except that you need to enter a __Farsi sector index name__ as __sector__ input.

In [17]:
df_sector_index_history = fpy.Get_SectorIndex_History(sector = 'کانه های غیرفلزی', start_date='1395-01-01', end_date='1400-12-29', 
                                   ignore_date = False, just_adj_close = False, show_weekday = True, double_date = True)
df_sector_index_history

,Date,Weekday,Open,High,Low,Close,Adj Close,Volume
J-Date,,,,,,,,
1395-01-07,2016-03-26,Saturday,2032.0,2052.0,2031.0,2052.0,2051.5,3870784
1395-01-08,2016-03-27,Sunday,2075.0,2075.0,2063.0,2064.0,2063.6,7152016
1395-01-09,2016-03-28,Monday,2066.0,2066.0,2050.0,2050.0,2050.2,5654131
1395-01-10,2016-03-29,Tuesday,2049.0,2049.0,2036.0,2047.0,2046.8,3847311
1395-01-11,2016-03-30,Wednesday,2047.0,2059.0,2047.0,2053.0,2053.4,7505935
...,...,...,...,...,...,...,...,...
1400-12-22,2022-03-13,Sunday,34121.0,34121.0,33931.0,33938.0,33943.2,53632888
1400-12-23,2022-03-14,Monday,33955.0,33987.0,33765.0,33765.0,33770.7,43754494
1400-12-24,2022-03-15,Tuesday,33757.0,33757.0,33547.0,33547.0,33540.2,48950855
1400-12-25,2022-03-16,Wednesday,33672.0,33895.0,33672.0,33893.0,33893.3,67654733
1400-12-28,2022-03-19,Saturday,33955.0,34652.0,33955.0,34652.0,34655.5,74462553

---------------------------------------------
## __4. Reading Real-Time Market Data__
__<font color='green'>Gathering Real-Time Data of Marketwatch when the Market is Open (= جمع آوری اطلاعات لحظه ای مربوط به دفترچه سفارشات و مارکت واچ همه سهم ها)</font>__

__Important Note:__ OB stands for Order Book or in Farsi دفتر سفارشات.


Sometimes, traders make their decisions based on the market real-time data, when the market is open. For example you may have an strategy based on the real-time orderbook data or clients (retail and institutional) data. If this is the case for you, you will need this function. As the function returns order book data, it is also necessary for optimal trade execution. 

The function inputs are:


| __Parameter__ | __Format__ | __Description (EN)__ | __Description (FA)__ | 
| :- | :- | :- | -: |
| __save_excel__ | True/Flase | If True, fucntion saves data in the given path as Excel file (2 Excel Files) |ذخیره یا عدم ذخیره دیتا فریم های خروجی (دو دیتا فریم) به صورت فایل اکسل |
| __save_path__ | String | Path on your local drive to save the gathered data |مسیر مورد نظر برای ذخیره دیتا فریم های خروجی (دو دیتا فریم)|

The function will return two dataframes, the first one is the __market watch real-time data__ and the second is the order book real-time data. The first dataframe have the following columns:

| __Column Name__ |__Description (EN)__ | __Description (FA)__ | 
| :- | :- | -: | 
| __Ticker (index)__ |Ticker| نماد |
| __Trade Type__ |Trade Type| نوع معامله: تابلو، بلوکی، عمده، جبرانی |
| __Time__ |Time| زمان مربوط به اطلاعات نمایش داده شده یک نماد |
| __Open__ |Day Open Price| قیمت باز شدن روز جاری |
| __High__ |Day High Price| بالاترین قیمت رخ داده در روز جاری تا آن لحظه |
| __Low__ |Day Low Price| پایین ترین قیمت رخ داده در روز جاری تا آن لحظه |
| __Close__ |Day Close Price| آخرین قیمت معامله در آن لحظه |
| __Final__ |Day Final Price| قیمت پایانی در آن لحظه |
| __Close(%)__ |Day Close % Change with respect to yesterday Final Price| درصد تغییر آخرین قیمت معامله در آن لحظه نسبت به قیمت پایانی دیروز |
| __Final(%)__ |Day Final % Change with respect to yesterday Final Price| درصد تغییر قیمت پایانی در آن لحظه نسبت به قیمت پایانی دیروز |
| __Day_UL__ |Day Upper Limit Price| بالاترین قیمت مجاز روز جاری |
| __Day_LL__ |Day Lower Limit Price| پایین ترین قیمت مجاز روز جاری |
| __Value__ |Value of Executed Trades| ارزش معاملات در روز جاری تا آن لحظه |
| __BQ-Value__ |Buy Queue Value| ارزش صف خرید در نماد مورد نظر در آن لحظه |
| __SQ-Value__ |Sell Queue Value| ارزش صف فروش در نماد مورد نظر در آن لحظه |
| __BQPC__ |Buy Queue Per-Capita (Average)| ارزش سرانه افرادی که در آن لحظه در صف خرید نماد مورد نظر هستند |
| __SQPC__ |Sell Queue Per-Capita (Average)| ارزش سرانه افرادی که در آن لحظه در صف فروش نماد مورد نظر هستند |
| __Volume__ |Volume of Executed Trades| حجم معاملات در نماد مورد نظر تا آن لحظه |
| __Vol_Buy_R__ |Retail Traders Buy Volume| حجم خرید افراد حقیقی در نماد مورد نظر تا آن لحظه |
| __Vol_Buy_I__ |Institutioanl Traders Buy Volume| حجم خرید افراد حقوقی در نماد مورد نظر تا آن لحظه |
| __Vol_Sell_R__ |Retail Traders Sell Volume| حجم فروش افراد حقیقی در نماد مورد نظر تا آن لحظه |
| __Vol_Sell_I__ |Institutional Traders Sell Volume| حجم فروش افراد حقوقی در نماد مورد نظر تا آن لحظه |
| __No__ |Number of Executed Trades| تعداد معاملات انجام شده در نماد مورد نظر تا آن لحظه |
| __No_Buy_R__ |Number of Buyer Retail Traders| تعداد خریداران حقیقی در نماد مورد نظر تا آن لحظه |
| __No_Sell_R__ |Number of Seller Retail Traders| تعداد فروشندگان حقیقی در نماد مورد نظر تا آن لحظه |
| __No_Buy_I__ |Number of Buyer Institutional Retail Traders| تعداد خریداران حقوقی در نماد مورد نظر تا آن لحظه |
| __No_Sell_I__ |Number of Seller Institutional Traders| تعداد فروشندگان حقوقی در نماد مورد نظر تا آن لحظه |
| __Name__ |Firm Farsi Full Name| نام فارسی شرکت مربوط به نماد مورد نظر |
| __Market__ |Category and Market of the Ticker| بازار نماد مورد نظر: بورس، فرابورس، پایه، حق تقدم بورس، حق تقدم فرابورس، حق تقدم پایه و صندوق های قابل معامله |
| __Sector__ |Sector/Industry of the ticker| گروه صنعت نماد مورد نظر |
| __Share-No__ |Number of Released Shares of the Ticker| تعداد سهام نماد مورد نظر |
| __Base-Vol__ |Base Volume of the Ticker| حجم مبنای نماد مورد نظر |
| __Market Cap__ |Market Cap of the Ticker (based on Final Price)| ارزش بازار نماد مورد نظر در آن لحظه - محاسبه شده بر اساس قیمت پایانی|
| __EPS__ | TTM EPS (TSE Data) | نماد مورد نظر به صورت میانگین دوازده ماهه متحرک EPS|
| __Download__ |Download Jalali Date and Time| تاریخ شمسی و زمان دانلود اطلاعات |

The second dataframe is for __real-time order book data__ and have the following columns:

| __Column Name__ |__Description (EN)__ | __Description (FA)__ | 
| :- | :- | -: | 
| __Ticker (index)__ |Ticker| نماد |
| __Day_UL__ |Day Upper Limit Price| بالاترین قیمت مجاز برای معامله در روز جاری |
| __Day_LL__ |Day Lower Limit Price| پایین ترین قیمت مجاز برای معامله در روز جاری |
| __OB-Depth__ |Order Book Depth (1-5)| عمق دفتر سفارشات (بهترین مظنه در عمق 1) |
| __Sell-No__ |Number of People Willing to Sell at Given Price| تعداد افراد حاضر به فروش در آن مظنه فروش |
| __Sell-Vol__ |Day Open Price| حجم تجمعی فروشندگان در آن مظنه فروش |
| __Sell-Price__ |Offered Sell Price| قیمت پیشنهادی فروشندگان در آن مظنه فروش |
| __Buy-Price__ |Offered Buy Price| قیمت پیشنهادی خریداران در آن مظنه خرید |
| __Buy-Vol__ |Ready Buy Volume at Given Price| حجم تجمعی خریداران در آن مظنه خرید  |
| __Buy-No__ |Number of People Willing to Buy at Given Price| تعداد افراد حاضر به خرید در آن مظنه خرید |
| __Download__ |Download Jalali Date and Time| تاریخ شمسی و زمان دانلود اطلاعات |

Both dataframes will be returned by this function and you can manage them in your desired databases if you will. If you want the dataframes to be saved as excel in your local drive, you need to say this to the function and specify a path for saving data using the following input parameters:
```python  
save_excel = True
save_path = 'D:/FinPy-TSE Data/MarketWatch'
```
The Excel file names, will be __date and time stamped__, like __MarketWatch 1400-10-10 12-02-29__ and __OrderBook 1400-10-10 12-02-29__. So you can use them later or save them in your desired databases, for future analysis.

In [18]:
df_market_watch, df_order_book = fpy.Get_MarketWatch(save_excel = True, save_path = 'D:/FinPy-TSE Data/MarketWatch')
df_market_watch

,Trade Type,Time,Open,High,Low,Close,Final,Close(%),Final(%),Day_UL,...,No_Sell_R,No_Sell_I,Name,Market,Sector,Share-No,Base-Vol,Market Cap,EPS,Download
Ticker,,,,,,,,,,,,,,,,,,,,,
وسپهر,تابلو,12:18:07,6870.0,6880.0,6850.0,6860.0,6870.0,-0.15,0.00,7280.0,...,711.0,2.0,سرمایه گذاری مالی سپهرصادرات,فرابورس,سرمایه گذاریها,3.000000e+10,12000000.0,2.061000e+14,1079.0,1401-05-26 12:18:40
شصدف,تابلو,12:17:44,33100.0,33200.0,32450.0,33000.0,32900.0,-0.15,-0.45,34700.0,...,246.0,1.0,صنعتی دوده فام,فرابورس,محصولات شیمیایی,7.000000e+08,465117.0,2.303000e+13,2777.0,1401-05-26 12:18:40
فسا,تابلو,12:15:25,774.0,785.0,774.0,782.0,794.0,-1.88,-0.38,820.0,...,27.0,0.0,پتروشیمی فسا,پایه,محصولات شیمیایی,3.486000e+09,12391574.0,2.767884e+12,6.0,1401-05-26 12:18:40
فرآور,تابلو,12:17:35,23600.0,24370.0,23600.0,23620.0,23890.0,-0.88,0.25,25250.0,...,66.0,0.0,فرآوری موادمعدنی ایران,بورس,فلزات اساسی,6.600000e+08,604108.0,1.576740e+13,2524.0,1401-05-26 12:18:40
سبزوا,تابلو,12:17:38,3500.0,3534.0,3400.0,3406.0,3427.0,-2.49,-1.89,3702.0,...,162.0,2.0,سیمان لار سبزوار,فرابورس,سیمان، آهک و گچ,3.757798e+09,4282044.0,1.287797e+13,230.0,1401-05-26 12:18:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
کارا,تابلو,12:17:12,11967.0,11968.0,11966.0,11968.0,11967.0,0.07,0.06,13156.0,...,84.0,8.0,صندوق س. کارا -د,صندوق قابل معامله,صندوق سرمایه گذاری قابل معامله,1.000000e+08,1.0,1.196700e+12,NaN,1401-05-26 12:18:40
سپ,تابلو,12:10:09,25210.0,25920.0,24910.0,25180.0,25610.0,-1.64,0.04,26880.0,...,29.0,2.0,پرداخت الکترونیک سامان کیش,بورس,رایانه و فعالیت های وابسته به آن,8.000000e+09,3200000.0,2.048800e+14,452.0,1401-05-26 12:18:40
شپترو,تابلو,12:13:44,1730.0,1731.0,1663.0,1675.0,1697.0,-0.36,0.95,1731.0,...,91.0,0.0,پتروشیمی آبادان,پایه,محصولات شیمیایی,1.000000e+10,5878895.0,1.697000e+13,-376.0,1401-05-26 12:18:40
پارتا,تابلو,12:17:09,7130.0,7130.0,6530.0,6690.0,6840.0,-2.19,0.00,7180.0,...,23.0,0.0,مجتمع صنعتی آرتاویل تایر,فرابورس,لاستیک و پلاستیک,4.710647e+09,2173914.0,3.222082e+13,NaN,1401-05-26 12:18:40
تاراز2,بلوکی,12:14:43,1.0,1.0,1.0,1.0,1.0,-99.99,-99.99,1.0,...,0.0,1.0,صندوق س آوای تاراز زاگرس-سهام,صندوق قابل معامله,صندوق سرمایه گذاری قابل معامله,1.000000e+08,1.0,1.000000e+08,NaN,1401-05-26 12:18:40

In [19]:
df_order_book.head(15)

                                 Sell-No  Sell-Vol  Sell-Price  Buy-Price  \
Ticker Day_LL  Day_UL  OB-Depth
آ س پ  4106    4630    1               1      1500        4235       4220
                       2               1      8000        4239       4218
                       3               2     17500        4240       4211
                       4               1      4275        4246       4210
                       5               2      6720        4253       4205
آبادا  8550    9450    1               3      8590        8890       8870
                       2               4       192        8900       8860
                       3               1      5000        8910       8850
                       4               3      6048        8920       8840
                       5               2        96        8930       8830
آتی1   1800000 2200000 1               0         0           0    1909186
                       2               0         0           0          0
                       3               0         0           0          0
                       4               0         0           0          0
                       5               0         0           0          0

                                 Buy-Vol  Buy-No             Download
Ticker Day_LL  Day_UL  OB-Depth
آ س پ  4106    4630    1           23200       2  1401-05-26 12:18:40
                       2            1350       1  1401-05-26 12:18:40
                       3           12789       1  1401-05-26 12:18:40
                       4            5000       1  1401-05-26 12:18:40
                       5            2990       1  1401-05-26 12:18:40
آبادا  8550    9450    1            1452       1  1401-05-26 12:18:40
                       2            5579       2  1401-05-26 12:18:40
                       3            7304       2  1401-05-26 12:18:40
                       4            8706       1  1401-05-26 12:18:40
                       5            1616       1  1401-05-26 12:18:40
آتی1   1800000 2200000 1            1000       1  1401-05-26 12:18:40
                       2               0       0  1401-05-26 12:18:40
                       3               0       0  1401-05-26 12:18:40
                       4               0       0  1401-05-26 12:18:40
                       5               0       0  1401-05-26 12:18:40

---------------------------------------------
## __5. Collective Data Download__

### __5.1. Build_Market_StockList() Function__
__<font color='green'>Gathering Detailed Information of All Stocks, Available in TSE (= تهیه لیست سهم های بازار بورس، فرابورس و پایه)</font>__

Every investor or trader needs to know all of the options available for investment or trading in a given market. This function, provides you a list of all stocks from __Bourse__, __Fara-Bourse__ and __Payeh__ market. It would be a good practice to save the output of this function in your local drive, play around with it in Python (or even in Excel, using filter functionality), to choose a list of stocks that meets your requirement. 

The function inputs are:


| __Parameter__ | __Format__ | __Description (EN)__ | __Description (FA)__ | 
| :- | :- | :- | -: |
| __bourse__ |True/Flase | If True, the fucntion considers Bourse stocks data in the output list |احتساب یا عدم احتساب سهم های بازار بورس در جمع آوری اطلاعات و تهیه لیست خروجی |
| __farabourse__ | True/Flase | If True, the fucntion considers Fara-Bourse stocks data in the output list |احتساب یا عدم احتساب سهم های بازار فرابورس در جمع آوری اطلاعات و تهیه لیست خروجی |
| __payeh__ | True/Flase | If True, the fucntion considers Payeh stocks data in the output list |احتساب یا عدم احتساب سهم های بازار پایه در جمع آوری اطلاعات و تهیه لیست خروجی |
| __detailed_list__ | True/Flase | If False, just returns you the Ticker, Name and Market columns, otherwise it shows the remaining columns|جمع آوری یا عدم جمع آوری اطلاعات تکمیلی سهم ها|
| __show_progress__ | True/Flase | If True, shows % progress of gathering and processing data |نمایش یا عدم نمایش میزان پیشرفت در جمع آوری اطلاعات |
| __save_excel__ | True/Flase | If True, fucntion saves data in the given path as Excel file |ذخیره یا عدم ذخیره لیست تهیه شده خروجی به صورت فایل اکسل |
| __save_csv__ | True/Flase | If True, fucntion saves data in the given path as CSV file |CSV ذخیره یا عدم ذخیره لیست تهیه شده خروجی به صورت فایل |
| __save_path__ | String | Path on your local drive to save the gathered data |مسیر مورد نظر برای ذخیره لیست تهیه شده|

The output will be a list of stocks with __Ticker__ as index and __Name, Market, Panel, Sector, Sub-Sector, Comment, Name(EN), Company Code(12), Ticker(4), Ticker(5), Ticker(12), Sector Code, Sub-Sector Code and Panel Code__, depending on if you want detailed list or not.

In [20]:
df_stock_list = fpy.Build_Market_StockList(bourse = True, farabourse = True, payeh = True, detailed_list = True, show_progress = True, 
                                           save_excel = False, save_csv = False, save_path = 'D:/FinPy-TSE Data/Stock List')
df_stock_list

Progress : 100 % , Done in 24 seconds!

,Name,Market,Panel,Sector,Sub-Sector,Comment,Name(EN),Company Code(12),Ticker(4),Ticker(5),Ticker(12),Sector Code,Sub-Sector Code,Panel Code
Ticker,,,,,,,,,,,,,,
آبادا,تولید نیروی برق آبادان,بورس,بازار دوم بورس,عرضه برق، گاز، بخاروآب گرم,تولید انتقال و توزیع نیروی برق,-,Abadan PG,IRO1NBAB0009,NBAB,NBAB1,IRO1NBAB0001,40,4010,5
آپ,آسان پرداخت پرشین,بورس,بازار دوم بورس,رایانه و فعالیت های وابسته به آن,مشاوره و تهیه نرم افزار,-,Asan Pardakht Pers,IRO1APPE0008,APPE,APPE1,IRO1APPE0001,72,7220,5
آسیا,بیمه آسیا,بورس,بازار اول (تابلوی اصلی) بورس,بیمه وصندوق بازنشستگی به جزتامین اجتماعی,بیمه غیرزندگی,-,Asia Bime,IRO1ASIA0008,ASIA,ASIA1,IRO1ASIA0001,66,6603,1
اپال,فرآوری معدنی اپال کانی پارس,بورس,بازار دوم بورس,استخراج کانه های فلزی,استخراج آهن,-,Opal Kani Pars,IRO1OPAL0000,OPAL,OPAL1,IRO1OPAL0001,13,1310,5
اتکام,بیمه اتکایی امین,بورس,بازار دوم بورس,بیمه وصندوق بازنشستگی به جزتامین اجتماعی,بیمه غیرزندگی,-,Amin Company,IRO1ETKA0009,ETKA,ETKA1,IRO1ETKA0001,66,6603,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
بنیرو,نیروترانس,بورس,بازار اول (تابلوی فرعی) بورس,ماشین آلات و دستگاه های برقی,تولید موتورها، مولدها و مبدلهای الکتریکی,-,Nirou Trans,IRO1NIRO0008,NIRO,NIRO1,IRO1NIRO0001,31,3110,3
پردیس,سرمایه گذاری پردیس,بورس,بازار اول (تابلوی اصلی) بورس,سرمایه گذاریها,سایر واسطه های مالی,-,Pardis Invsetment,IRO1AYEG0008,AYEG,AYEG1,IRO1AYEG0001,56,5699,1
خاهن,آهنگری تراکتورسازی ایران,بورس,بازار اول (تابلوی فرعی) بورس,خودرو و ساخت قطعات,قطعات یدکی و جانبی وسایل نقلیه موتوری,-,Iran Tractor F.,IRO1ATIR0008,ATIR,ATIR1,IRO1ATIR0001,34,3430,3
ثنوسا,نوسازی وساختمان تهران,بورس,بازار دوم بورس,انبوه سازی، املاک و مستغلات,املاک و مستغلات با ملک خود یا لیزینگ شده,-,S*Tehran Const.,IRO1NSTH0003,NSTH,NSTH1,IRO1NSTH0001,70,7010,5
حفارس,حمل و نقل بین المللی خلیج فارس,بورس,بازار دوم بورس,حمل ونقل، انبارداری و ارتباطات,حمل و نقل بار زمینی,-,Khalij Fars Trans,IRO1HFRS0005,HFRS,HFRS1,IRO1HFRS0001,60,6023,5

### __5.2. Build_PricePanel() Function__
__<font color='green'>Buliding Price Panel for Given List of Stocks (= پنل قیمت برای لیست دلخواه از سهم ها بر اساس قیمت پایانی تعدیل شده)</font>__

In stock selection, portfolio management and some other applications, we need to have some sort tabular data, to be able to feed our algorithm. For example, in the following table, you can see __Adj Final__ price data of 10 stocks for 1000 days. Columns of this table are stock tickers, with dates as index. Table values are Adj Final price of each stock for that date. The best practice is to have this table in the form of a Pandas data frame, which is the way we have implemented this function.

| __Date__ | __Stock 1__ | __Stock 2__ | __Stock 3__ |__Stock 4__ |__Stock 5__ | __Stock 6__ | __Stock 7__ | __Stock 8__ |__Stock 9__ |__Stock 10__ |
| :- | :-: | :-: |:-: | :-: | :-: |:-: | :-: |:-: | :-: | :-: | 
| __Date 1__ | $P_{1,1}$ |$P_{2,1}$ |$P_{3,1}$ |$P_{4,1}$ |$P_{5,1}$ |$P_{6,1}$ |$P_{7,1}$ |$P_{8,1}$ |$P_{9,1}$ |$P_{10,1}$ |
| __Date 2__ | $P_{1,2}$ |$P_{2,2}$ |$P_{3,2}$ |$P_{4,2}$ |$P_{5,2}$ |$P_{6,2}$ |$P_{7,2}$ |$P_{8,2}$ |$P_{9,2}$ |$P_{10,2}$ |
| __Date 3__ | $P_{1,3}$ |$P_{2,3}$ |$P_{3,3}$ |$P_{4,3}$ |$P_{5,3}$ |$P_{6,3}$ |$P_{7,3}$ |$P_{8,3}$ |$P_{9,3}$ |$P_{10,3}$ |
| __...__ | ... |... |... |... |... |... |... |... |... |... |
| __Date 500__ | $P_{1,500}$ |$P_{2,500}$ |$P_{3,500}$ |$P_{4,500}$ |$P_{5,500}$ |$P_{6,500}$ |$P_{7,500}$ |$P_{8,500}$ |$P_{9,500}$ |$P_{10,500}$ |
| __Date 501__ | $P_{1,501}$ |$P_{2,501}$ |$P_{3,501}$ |$P_{4,501}$ |$P_{5,501}$ |$P_{6,501}$ |$P_{7,501}$ |$P_{8,501}$ |$P_{9,501}$ |$P_{10,501}$ |
| __Date 502__ | $P_{1,502}$ |$P_{2,502}$ |$P_{3,502}$ |$P_{4,502}$ |$P_{5,502}$ |$P_{6,502}$ |$P_{7,502}$ |$P_{8,502}$ |$P_{9,502}$ |$P_{10,502}$ |
| __...__ | ... |... |... |... |... |... |... |... |... |... |
| __Date 998__ | $P_{1,998}$ |$P_{2,998}$ |$P_{3,998}$ |$P_{4,998}$ |$P_{5,998}$ |$P_{6,998}$ |$P_{7,998}$ |$P_{8,998}$ |$P_{9,998}$ |$P_{10,998}$ |
| __Date 999__ | $P_{1,999}$ |$P_{2,999}$ |$P_{3,999}$ |$P_{4,999}$ |$P_{5,999}$ |$P_{6,999}$ |$P_{7,999}$ |$P_{8,999}$ |$P_{9,999}$ |$P_{10,999}$ |
| __Date 1000__ | $P_{1,1000}$ |$P_{2,1000}$ |$P_{3,1000}$ |$P_{4,1000}$ |$P_{5,1000}$ |$P_{6,1000}$ |$P_{7,1000}$ |$P_{8,1000}$ |$P_{9,1000}$ |$P_{10,1000}$ |

The function inputs are:


| __Parameter__ | __Format__ | __Description (EN)__ | __Description (FA)__ | 
| :- | :- | :- | -: |
| __stock_list__ |Python List | List of stocks (tickers or firm names) |لیستی از نماد یا نام شرکت ها |
| __jalali_date__ | True/Flase | If True, fucntion returns Jalali date as index, otherwise it will return iternational date |تعیین تاریخ شمسی یا میلادی برای ایندکس پنل قیمت |
| __save_excel__ | True/Flase | If True, fucntion saves individual stocks data and price panel, in the given path |ذخیره یا عدم ذخیره اطلاعات دانلود شده برای تک تک سهم ها و پنل قیمت |
| __save_path__ | String | Path on your local drive to save the downloaded data |مسیر ذخیره اطلاعات تک تک سهم ها و پنل قیمت|

The function output will be a dataframe like what you see above, with tickers as column names (irrespective of if you entered stock names or tickers in the input list) and __J-Date__ or __Date__ as index, depending your input settings. The function also saves the downloaded data as Excel file, if you use proper input settings.

__Important Note:__ The speed of gathering and processing data, depends on your internet speed, TSE servers response speed and if you want to save data as Excel or not. A rule of thumb for estimating runing time of the function is _1sec/stock_ if you do not save Excel files and _2sec/stock_ if you want to save the data. For example if you have 60 stocks and you do not want to save the data as Excel, it will take about 60 seconds (1 minute) to gather and process the data. Remember, if you run this function more than usual, the TSE servers will block your IP and you need to wait for a few minutes to be able to get data from TSE, again.

In [22]:
# create a list of stocks using previous function output:
bourse_stocks = df_stock_list[(df_stock_list['Market']=='بورس')] 
bourse_stocks = bourse_stocks.index.tolist()    # extract tickers and convert to list
# now call the price panel function and pass the list to it:
df_price_panel = fpy.Build_PricePanel(stock_list = bourse_stocks, param='Final', jalali_date = True, 
                                      save_excel = False, save_path = 'D:/FinPy-TSE Data/Price Panel')
df_price_panel

Reading Data :  100.0 %    Processing Data :  100.0 %
506 Seconds Took to Gather and Process Your Requested Data

,آبادا,آسیا,آپ,اتکام,اخابر,اسیاتک,افق,البرز,امید,امین,...,ونفت,ونوین,ونیرو,ونیکی,وکار,بنیرو,ثنوسا,حفارس,خاهن,پردیس
J-Date,,,,,,,,,,,,,,,,,,,,,
1380-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1380-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1380-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1380-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1380-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401-05-19,8820.0,1470.0,6320.0,NaN,NaN,NaN,57460.0,1864.0,5910.0,11380.0,...,3102.0,3258.0,2484.0,8600.0,3155.0,2366.0,3294.0,9060.0,4813.0,2615.0
1401-05-22,8920.0,1558.0,6380.0,NaN,NaN,NaN,57480.0,1905.0,5890.0,11380.0,...,3123.0,3416.0,2529.0,8750.0,3157.0,2383.0,3433.0,9500.0,5045.0,2691.0
1401-05-23,8870.0,1587.0,6300.0,NaN,6440.0,17630.0,57480.0,1936.0,5870.0,11380.0,...,3118.0,3556.0,2529.0,8740.0,3158.0,2391.0,3407.0,9430.0,5243.0,2671.0
1401-05-24,8780.0,1594.0,6310.0,NaN,6770.0,18410.0,57470.0,1968.0,5860.0,11380.0,...,3102.0,3626.0,2535.0,8750.0,3160.0,2392.0,3407.0,9710.0,5387.0,2653.0
1401-05-25,9000.0,1676.0,6560.0,2908.0,7170.0,19110.0,57600.0,2076.0,5850.0,11380.0,...,3115.0,3787.0,2546.0,8760.0,3165.0,2394.0,3388.0,10090.0,5306.0,2613.0

### __5.3. Get_60D_PriceHistory() Function <font color='orange'>  (1.1.0) </font>__
__<font color='green'>Gathering Last 60 Trading Days Price Data for Given List of Stocks with Adjusting Capability (= دریافت سابقه قیمت لیستی از سهم ها در 60 روز معاملاتی اخیر همراه با قابلیت تعدیل)</font>__

This function is designed to serve you in updating the existing price data bases, faster than what __Build_PricePanel()__ is capable of. Managing and adding the returned data to the existing data base is out of the scope of this function and must be done by you.

In addition, now, you can implement the ideas you might have implemented earlier by writing JAVA filters in TSE market watch (فیلتر نویسی در دیده بان), in conjunction with __Get_MarketWatch()__, using Python. Of course, this also depends on your knowledge of the market and creativity! 

The function inputs are:


| __Parameter__ | __Format__ | __Description (EN)__ | __Description (FA)__ | 
| :- | :- | :- | -: |
| __stock_list__ |Python List | List of stocks (tickers or firm names) |لیستی از نماد یا نام شرکت ها |
| __adjust_price__ | True/Flase | If True, fucntion adjusts the prices, otherwise it will return un-adjusted prices |تعدیل یا عدم تعدیل قیمت ها |
| __show_progress__ | True/Flase | If True, shows % progress of gathering and processing data |نمایش یا عدم نمایش میزان پیشرفت در فرآیند جمع آوری و پردازش اطلاعات |
| __save_excel__ | True/Flase | If True, fucntion saves price data, in the given path |ذخیره یا عدم ذخیره اطلاعات دانلود شده برای تک تک سهم ها و پنل قیمت |
| __save_path__ | String | Path on your local drive to save the gathered and processed data |مسیر ذخیره اطلاعات قیمتی دریافت و پردازش شده|


The outputs are __price data__ (adjusted or not), __adjusting information for your existing data base__ and also __a list of failed stocks__. If you want to add this data to your existing data base, you need to consider the adjusting information provided by the function and you can not simply concat this data to your existing data base!

You also need to get the __missing stocks__ data by __Get_Price_History()__ or __Build_PricePanel()__ function on your own. The reasons why a stock falls into this list are either that stock's market changed, e.g. moved from FaraBourse to Bourse, or it is not traded in the last 60 trading days in the market.

In [23]:
df_60D_hist, adj_info_df, missing_stocks = fpy.Get_60D_PriceHistory(stock_list = df_stock_list.index.tolist(), adjust_price = False, 
                                                                    show_progress = True, save_excel = False, save_path = 'D:/FinPy-TSE Data/MarketWatch')
df_60D_hist

Progress : 100 % , Done in 9 seconds!

                   Y-Final   Open   High    Low  Close  Final   Volume  \
Ticker J-Date
آبادا  1401-02-27    13410  13660  13670  13130  13260  13470  3228977
       1401-02-28    13470  13010  13470  12800  12900  12980  3004413
       1401-02-31    12980  12500  12890  12500  12510  12660  1758635
       1401-03-01    12660  12750  13100  12280  12840  12800  1695350
       1401-03-02    12800  12950  12950  12160  12160  12290  2111439
...                    ...    ...    ...    ...    ...    ...      ...
حفارس  1401-05-19     8970   8970   9340   8930   9000   9060  1349436
       1401-05-22     9060   9430   9510   9350   9510   9500  4822619
       1401-05-23     9500   9590   9600   9170   9470   9430  2557443
       1401-05-24     9430   9300   9850   9300   9740   9710  3910451
       1401-05-25     9710   9880  10190   9770  10190  10090  5098707

                         Value    No
Ticker J-Date
آبادا  1401-02-27  43486227390  3723
       1401-02-28  38997331570  4438
       1401-02-31  22272948540  2216
       1401-03-01  21692665840  2232
       1401-03-02  25949451210  1249
...                        ...   ...
حفارس  1401-05-19  12260253600   205
       1401-05-22  45809792760   472
       1401-05-23  24104385660   366
       1401-05-24  37951175040   520
       1401-05-25  51423140360   713

[36267 rows x 9 columns]

In [24]:
df_60D_hist, adj_info_df, missing_stocks = fpy.Get_60D_PriceHistory(stock_list = df_stock_list.index.tolist(), adjust_price = True, 
                                                                    show_progress = True, save_excel = False, save_path = 'D:/FinPy-TSE Data/MarketWatch')
df_60D_hist

Progress : 100 % , Done in 18 seconds!

                    Open   High    Low  Close  Final   Volume        Value  \
Ticker J-Date
آبادا  1401-02-27  13660  13670  13130  13260  13470  3228977  43486227390
       1401-02-28  13010  13470  12800  12900  12980  3004413  38997331570
       1401-02-31  12500  12890  12500  12510  12660  1758635  22272948540
       1401-03-01  12750  13100  12280  12840  12800  1695350  21692665840
       1401-03-02  12950  12950  12160  12160  12290  2111439  25949451210
...                  ...    ...    ...    ...    ...      ...          ...
حفارس  1401-05-19   8970   9340   8930   9000   9060  1349436  12260253600
       1401-05-22   9430   9510   9350   9510   9500  4822619  45809792760
       1401-05-23   9590   9600   9170   9470   9430  2557443  24104385660
       1401-05-24   9300   9850   9300   9740   9710  3910451  37951175040
       1401-05-25   9880  10190   9770  10190  10090  5098707  51423140360

                     No  Adj Open  Adj High  Adj Low  Adj Close  Adj Final
Ticker J-Date
آبادا  1401-02-27  3723     13079     13089    12572      12696      12898
       1401-02-28  4438     12457     12898    12256      12352      12428
       1401-02-31  2216     11969     12342    11969      11978      12122
       1401-03-01  2232     12208     12543    11758      12294      12256
       1401-03-02  1249     12400     12400    11643      11643      11768
...                 ...       ...       ...      ...        ...        ...
حفارس  1401-05-19   205      8970      9340     8930       9000       9060
       1401-05-22   472      9430      9510     9350       9510       9500
       1401-05-23   366      9590      9600     9170       9470       9430
       1401-05-24   520      9300      9850     9300       9740       9710
       1401-05-25   713      9880     10190     9770      10190      10090

[36267 rows x 13 columns]

__<font color='red'>  How to Update Existing Database? </font>__
For updating your existing database for a given stock, first, you need to check if that stock is in the following dataframe or not. 
1) If it is not, simply concat the with considerations related to duplicate days in your new and existing data. 
2) If the stock is in the following dataframe, then you need to cut the existing data till the __ADJ-JDate__ date given for the stock and multipy all columns of existing database that are in the adjusted form, by the coefficient given in __ADJ-Coef__ column of below dataframe. Now you can simply add your new price data to the modified existing database!

In [25]:
adj_info_df

         ADJ-JDate  ADJ-Coef
Ticker
آبادا   1401-02-27  0.957535
آپ      1401-02-27  0.997028
آسیا    1401-02-27  0.927096
اتکام   1401-02-27  0.696680
اخابر   1401-02-27  0.987768
...            ...       ...
آبین    1401-02-31  0.995327
شرنگی   1401-02-27  0.998442
بنیرو   1401-02-27  0.961555
پردیس   1401-02-27  0.846523
خاهن    1401-02-27  0.980695

[354 rows x 2 columns]

---------------------------------------------
## __6. Reading USD/Rial Exchange Rate__

Although USD/Rial exchange rate is out of the scope of Tehran Stock Exchange, but as it has important effect on the price of stocks, we decided to include a function in finpy-tse module, to access this data, as well. 

### __6.1. Get_USD-RIAL() Function__
__<font color='green'>Access to USD/RIAL Exchange Rate Historical Data (= نرخ دلار آمریکا در بازار آزاد)</font>__

The function has similar inputs to our other functions. It returns daily price of USD/Rial and only supports last 10-years of daily history.


| __Parameter__ | __Format__ | __Description (EN)__ | __Description (FA)__ | 
| :- | :- | :- | -: |
| __start_date__ | YYYY-MM-DD Jalali Date | returned data start date |تاریخ شروع (شمسی) |
| __end_date__ | YYYY-MM-DD Jalali Date | returned data end date |تاریخ پایان (شمسی) |
| __ignore_date__ | True/Flase | if True, fucntion does not consider start and end date and gets all available history |نادیده گرفتن تاریخ شروع و پایان و نمایش همه سابقه در دسترس |
| __show_weekday__ | True/Flase | if True, fucntion shows weekdays in a separate column |نمایش یا عدم نمایش روزهای هفته در خروجی |
| __double_date__ | True/Flase | if True, fucntion shows international date in a separate column, in addition to Jalali date |نمایش یا عدم نمایش تاریخ میلادی (علاوه بر تاریخ شمسی) |

The output of the function will be a pandas dataframe with the follwing columns:

| __Column Name__ | __Description (EN)__ | __Description (FA)__ |
| :- | :- | -: | 
| __J-Date__ | Jalali Date (as dataframe index) | تاریخ شمسی (ایندکس دیتا فریم خروجی) |
| __Date__ | International Date | تاریخ میلادی |
| __Weekday__ | Name of weekdays | نام روزهای هفته |
| __Open__ | Daily open price | اولین قیمت روز |
| __High__ | Daily high price | بالاترین قیمت روز |
| __Low__ | Daily low price | پایین ترین قیمت روز |
| __Close__ | Daily close price | آخرین قیمت روز |

By using proper inputs, when calling the function, you can drop __Date__ and __Weekday__ columns, if you will.

__Important Note:__ The reference of USD/Rial exchange rate is https://www.tgju.org/profile/price_dollar_rl/history. Sometimes the rates announced by this website, is different from the real prices, because the policies of Central Bank of Iran (CBI) for announcement of rates changes from time to time.

In [26]:
df_usd = fpy.Get_USD_RIAL(start_date = '1395-01-01', end_date = '1400-12-29',\
                          ignore_date = False, show_weekday = True, double_date = True)
df_usd

WARNING: USD/RIAL data is not up-to-date! Check the following links to find out what is going on!
https://www.tgju.org/profile/price_dollar_rl/technical
https://www.tgju.org/profile/price_dollar_rl/history

                 Date    Weekday    Open    High     Low   Close
J-Date
1395-01-07 2016-03-26   Saturday   34300   34750   34300   34680
1395-01-08 2016-03-27     Sunday   34660   34670   34660   34660
1395-01-10 2016-03-29    Tuesday   34960   35140   34960   35130
1395-01-11 2016-03-30  Wednesday   34890   34890   34820   34820
1395-01-12 2016-03-31   Thursday   34850   34850   34850   34850
...               ...        ...     ...     ...     ...     ...
1400-12-22 2022-03-13     Sunday  260740  265900  260650  264170
1400-12-23 2022-03-14     Monday  262550  263100  261550  262650
1400-12-24 2022-03-15    Tuesday  263440  265900  263150  263620
1400-12-25 2022-03-16  Wednesday  262560  264400  262350  263790
1400-12-26 2022-03-17   Thursday  262060  262300  262050  262300

[1720 rows x 6 columns]